*{ padding:0px; margin:0px }

body{

	color:#000;

	background-color: #FFF;

	padding:0px; 
	
	font-size:16px;
	
	margin:0px auto;

	overflow:scroll;

	overflow-x:hidden;

	overflow-y:auto;

	font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;

	font-size:16px;

	max-width:640px;

}

div{ margin:0; padding:0; border:0;}

a{ text-decoration:none;background: transparent; font-size: 1.5rem;  outline:none}

a:hover, a:active{ outline:none; text-decoration: none;}



table { border-collapse: collapse; border-spacing: 0;}

li{ list-style: none outside none;}

#content,.container { width: 98%;  margin: 0px auto; border:0px solid green;}

.channellist{ width:99%;border:0px solid red; margin:0px auto;}

.channellist li{float:left;text-align: center; border:0px dashed blue; width:33%; }

.channellist li a{display:block; margin:5px;  padding-top:0px; padding:5px;

background-color:#FFFFFF;

border:1px solid #CCC ;

border-radius:8px;-webkit-border-radius:8px; -moz-border-radius:8px; -o-border-radius:8px; 

-webkit-box-shadow: 0px 1px 3px rgb(190, 190, 190); -moz-box-shadow: 0px 1px 3px rgb(190, 190, 190); -o-box-shadow: 0px 1px 3px rgb(190, 190, 190); box-shadow: 0px 1px 3px rgb(190, 190, 190);

}

.channellist li .ChannelName{ text-align:center; color: #333;  height:22px; line-height:22px; border:0px dashed red; padding:5px; font-size:14px; font-weight: bold;}

.channellist li .ChannelIcon{

    text-align: center;

	font-weight: bold;

	overflow:hidden;

	background: white center center no-repeat; 

	padding: 0px;

	color:#FFFFFF;

	margin:auto;

	border:0px solid red;

	border-radius:8px 8px 0px 0px;-webkit-border-radius:8px 8px 0px 0px; -moz-border-radius:8px 8px 0px 0px; -o-border-radius:8px 8px 0px 0px; 

}

.channellist li .ChannelIcon img{ vertical-align:middle; width:99%; }

/*==========@@鍏跺畠鏍峰紡瀹氫箟 寮€濮婡@==========*/

.form-control[readonly] { background-color: #fff;}

.jianpan { width: 100%; position: fixed; left: 0; bottom: 0; right: 0; z-index: 99997;}
.jianpan button { width: 23.5%;  margin-top: 1%;}
#jianpan-left button { width: 47.1%;  margin-top: 2.5%;}
#jianpan-right button { width: 22.9%;  margin-top: 1%;}

/*==========@@鍏跺畠鏍峰紡瀹氫箟 缁撴潫@@==========*/

#login-content,#login-footer{ width: 90%;}
#login-content .form-heading { margin: 20% 0; color: #0663a2;font-weight: bold; font-size: 30px;}
#login-content .login { border-bottom: 1px solid #ccc; margin: 0 0 20px;}
#login-content .login input { border: none; box-shadow: none; }
#login-content .login input:focus { border: none; box-shadow: none;}
#login-footer { font-size: 14px; color: #999; margin-top: 30%;}


/*鍏叡鏍峰紡 鍙湪鍏蜂綋棰戦亾妯″瀷琚噸杞�*/
#footer{ width: 98%;  margin: 0px auto; border:0px solid green;}
/*蹇嵎鑿滃崟鎸夐挳 寮€濮�*/

.plug-div {position:fixed;bottom:0;left:0px;z-index:5;}

.phone {width:100%; height:480px; border: #000 solid 1px; position:relative; }

.plug-menu {

	width:36px;

	height:36px;

	border-radius:36px;

	position: absolute;

	bottom:16px;

	left: 8px;

	z-index:999;

	-moz-box-shadow:0 0 0 4px #FFFFFF, 0 2px 5px 4px rgba(0, 0, 0, 0.25);

	-webkit-box-shadow:0 0 0 4px #FFFFFF, 0 2px 5px 4px rgba(0, 0, 0, 0.25);

	box-shadow:0 0 0 4px #FFFFFF, 0 2px 5px 4px rgba(0, 0, 0, 0.25);

	background-color: #B70000;

	background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #FF0000), color-stop(100%, #B70000));

	background-image:-webkit-linear-gradient(top, #FF0000, #B70000);

	background-image:-moz-linear-gradient(top, #FF0000, #B70000);

	background-image:-o-linear-gradient(top, #FF0000, #B70000);

	background-image:linear-gradient(top, #FF0000, #B70000);

}

.plug-menu span {

	display: block;

	width:28px;

	height:28px;

	background: url(../ky_img/plugmenu.png) no-repeat;

	background-size: 28px 28px;

	text-indent: -999px;

	position:absolute;

	top:50%;

	left:50%;

	margin-top:-14px;

	margin-left: -14px;

	overflow: hidden;

}

.plug-phone .plug-useless {background:#e2e2e2;}

/**/

 .themeStyle{background:#31B6E7} /*蹇呴』鏀惧湪鏈€鍚庯紝瑕嗙洊鍓嶉潰瀹氫箟鐨勬牱寮�*/

/*蹇嵎鑿滃崟鎸夐挳 缁撴潫*/
.copyright{ padding:5px; text-align:center; font-size:14px; color:#666; border:0px solid red}

.copyright a{color:#666;}