.body-style{padding-top: 70px;background: #f6fefe;}	
.navga{width:100%;height:50px;position: fixed;left:0px;top: 0px;z-index: 99;background: rgba(255,255,255,1);}
.navga .section{float:left;}
.navga .section:nth-of-type(1){width:16.7%;height: 50px;}
.navga .man{width:50px;height: 50px;background: url(../images/icon-m-man-active.png) center;}
.navga .section:nth-of-type(2){width:33.3%;height:50px;padding-left:15px;padding-top: 10px;box-sizing: border-box;}
.navga .section:nth-of-type(3){width:50%;height: 50px;padding-top: 5px;box-sizing: border-box;position: relative;}
.navga ul{list-style: none;width:190px;height: 20px;position: absolute;right: 10px;top: 10px;}
.navga .section li{float:left;margin-left: 4px;}
.navga .section li a{width:33px;height: 33px;display: block;}
.navga .section .pic1{background: url(../images/brxxxx_header_1.png) center;background-size: cover;}
.navga .section .pic2{background: url(../images/brxxxx_header_2.png) center;background-size: cover;}
.navga .section .pic3{background: url(../images/brxxxx_header_3.png) center;background-size: cover;}
.navga .section .pic4{background: url(../images/brxxxx_header_4.png) center;background-size: cover;}
.navga .section p{line-height: 10px;}
.row label{padding-left: 8px;}
.row select{padding:0px;}
h4{padding-left:20px}
.container-fluid p{padding-left: 10px;box-sizing: border-box;}
.sel{height:50px;width:100%;padding-left:15px;padding-right:15px;box-sizing: border-box;overflow:hidden;position: fixed;z-index: 999;background:#f6fefe;top:50px;padding-top:10px;}
.sec{width:50%;float:left;padding-right:10px;box-sizing: border-box;padding-left:10px;}
.sec select{padding:0px;}
.sec:nth-of-type(1){width: 25%;}
.sec:nth-of-type(2){width: 7.5%;}
.sec:nth-of-type(3){width: 30%;}
.sec:nth-of-type(4){width: 30%;}
.sec:nth-of-type(5){width: 7.5%;}
.bor-r{padding: 0px;padding-top: 5px;}
.sec .arr{padding-top: 5px;box-sizing: border-box;}
.row .opt{height: 40px;border-bottom:1px dashed #333;border-top:1px dashed #333;}
.bor-ra{border-radius: 10px;background-color: #f3f0eb;margin-bottom: 10px;padding-top: 10px;padding-bottom:10px;box-sizing: border-box;}
.order-c1{background-color:#d8eeee;}
.order-c2{background-color:#f0e5e9;}
.order-c3{background-color: #e5f0e5;}
.order-c4{background-color: #eff0e5;}
.order-c5{background-color: #e7e5f0;}
.padd-r{padding: 0px;padding-right: 5px;box-sizing: content-box;}
.icon_pic{height: 25px;width: 25px;background: url(../images/arrow.png) center;background-size: cover;}
.p-divider{margin-left: -6px;margin-top: 6px;}
.mar-l{margin-left: -15px;}
.marg-l{margin-left: -22px;}
.marg-t{padding-top: 60px;z-index: 98;background: #fff;}
.marg-b{margin-bottom: 10px; margin-top: 10px;}
p.chec{text-align: center;padding-top: 7px;}
span.chec{border: 2px solid deepskyblue;border-radius: 50%;padding: 5px;}
.propaganda{text-indent: 2em;}
#inform p{border-bottom: 2px dashed #1B6D85;text-indent: 1em;padding-bottom: 20px;}
.p_wrap{text-overflow:ellipsis;
        white-space:nowrap;
         overflow:hidden;}
.p_bg{background-color: #b1d1ce;border-radius: 10px;}
