<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">

	<bean id="wseq_id" class="org.springframework.jdbc.support.incrementer.OracleSequenceMaxValueIncrementer">
          <property name="dataSource" ref="dataSource"></property>
          <property name="incrementerName" ><value>wseq_id</value></property>
     </bean>
	
	<bean id="basedao" class="com.his.mnis.dao.BaseDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<!-- 配液 -->
	<bean id="twBryzPeiYeDao" class="com.his.mnis.dao.TwBryzPeiYeDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 入院护理评估 -->
	<bean id="twHulijlbiaoZdDao" class="com.his.mnis.dao.TwHulijlbiaoZdDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="twHulijlbiaoZdService" class="com.his.mnis.serviceImpl.TwHulijlbiaoZdServiceImpl">
		<property name="twHulijlbiaoZdDao" ref="twHulijlbiaoZdDao"></property>
	</bean>
	<bean id="pingGuLeiAction" class="com.his.mnis.actions.PingGuLeiAction"  scope="prototype">
		<property name="twHulijlbiaoZdService" ref="twHulijlbiaoZdService"></property>
		<property name="twHulijlbiaoZd1Service" ref="twHulijlbiaoZd1Service"></property>
		<property name="wseq_id" ref="wseq_id"></property>
	</bean>
	
	<bean id="twHulijlbiaoZd1Dao" class="com.his.mnis.dao.TwHulijlbiaoZd1Dao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="twHulijlbiaoZd1Service" class="com.his.mnis.serviceImpl.TwHulijlbiaoZd1ServiceImpl">
		<property name="twHulijlbiaoZd1Dao" ref="twHulijlbiaoZd1Dao"></property>
	</bean>
	
	
	<!-- 安全退出 -->
	<bean id="exitAnQuanQuit" class="com.his.mnis.actions.ExitAnQuanQuit"  scope="prototype">
	</bean>
	
	<!-- 患者危险评估 -->
	<bean id="twWxysPgDao" class="com.his.mnis.dao.TwWxysPgDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="twWxysPgService" class="com.his.mnis.serviceImpl.TwWxysPgServiceImpl">
		<property name="twWxysPgDao" ref="twWxysPgDao"></property>
	</bean>
	<bean id="twWxysPgAction" class="com.his.mnis.actions.TwWxysPgAction"  scope="prototype">
		<property name="twWxysPgService" ref="twWxysPgService"></property>
		<property name="wseq_id" ref="wseq_id"></property>
	</bean>
	
	<!-- PC 白板 -->
	<bean id="convertRGBToHEXUtil" class="com.his.mnis.utils.ConvertRGBToHEXUtil">
	</bean>
	<bean id="pcBaiBanDao" class="com.his.mnis.dao.PcBaiBanDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="pcBaiBanService" class="com.his.mnis.serviceImpl.PcBaiBanServiceImpl">
		<property name="pcBaiBanDao" ref="pcBaiBanDao"></property>
		<property name="convertRGBToHEXUtil" ref="convertRGBToHEXUtil"></property>
	</bean>
	<bean id="pcBaiBanAction" class="com.his.mnis.actions.PcBaiBanAction"  scope="prototype">
		<property name="pcBaiBanService" ref="pcBaiBanService"></property>
	</bean>
	
	<!-- 修改密码  -->
	<bean id="miMaXiuGaiDao" class="com.his.mnis.dao.MiMaXiuGaiDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="miMaXiuGaiService" class="com.his.mnis.serviceImpl.MiMaXiuGaiServiceImpl">
		<property name="miMaXiuGaiDao" ref="miMaXiuGaiDao"></property>
		<property name="vwRybqDao" ref="vwRybqDao"></property>
	</bean>
	<bean id="miMaXiuGaiAction" class="com.his.mnis.actions.MiMaXiuGaiAction"  scope="prototype">
		<property name="miMaXiuGaiService" ref="miMaXiuGaiService"></property>
	</bean>
	
	<!-- 婴儿数据查询 -->
	<bean id="vwBqYeZyDao" class="com.his.mnis.dao.VwBqYeZyDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="vwBqyeZyService" class="com.his.mnis.serviceImpl.VwBqyeZyServiceImpl">
		<property name="vwBqYeZyDao" ref="vwBqYeZyDao"></property>
	</bean>
	
	<!-- 工作提醒 白板 -->
	<bean id="baiBanGongZhuoTiXingDao" class="com.his.mnis.dao.BaiBanGongZhuoTiXingDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="baiBanBongZuoTiXingService" class="com.his.mnis.serviceImpl.BaiBanBongZuoTiXingServiceImpl">
		<property name="baiBanGongZhuoTiXingDao" ref="baiBanGongZhuoTiXingDao"></property>
		<property name="twWdbrService" ref="twWdbrService"></property>
	</bean>
	<bean id="baiBanBongZuoTiXingAction" class="com.his.mnis.actions.BaiBanBongZuoTiXingAction"  scope="prototype">
		<property name="baiBanBongZuoTiXingService" ref="baiBanBongZuoTiXingService"></property>
	</bean>
	
	<!-- 消息  -->
	<bean id="vSysMessDao" class="com.his.mnis.dao.VSysMessDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="vSysMessService" class="com.his.mnis.serviceImpl.VSysMessServiceImpl">
		<property name="vSysMessDao" ref="vSysMessDao"></property>
	</bean>
	<bean id="vSysMessAction" class="com.his.mnis.actions.VSysMessAction"  scope="prototype">
		<property name="vSysMessService" ref="vSysMessService"></property>
	</bean>
	
	<!-- 宣教 -->
	<bean id="xuanJiaoDao" class="com.his.mnis.dao.XuanJiaoDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="baseDao" ref="basedao"></property>
	</bean>
	<bean id="xuanJiaoService" class="com.his.mnis.serviceImpl.XuanJiaoServiceImpl">
		<property name="xuanJiaoDao" ref="xuanJiaoDao"></property>
	</bean>
	<bean id="xuanJiaoAction" class="com.his.mnis.actions.XuanJiaoAction"  scope="prototype">
		<property name="xuanJiaoService" ref="xuanJiaoService"></property>
	</bean>
	<!-- 护士医嘱未执行 -->
	<bean id="zd001Dao" class="com.his.mnis.dao.Zd001Dao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="yiZhuWeiZhiXingService" class="com.his.mnis.serviceImpl.YiZhuWeiZhiXingServiceImpl">
		<property name="zd001Dao" ref="zd001Dao"></property>
	</bean>
	
	<bean id="yiZhuWeiZhiXingAction" class="com.his.mnis.actions.YiZhuWeiZhiXingAction"  scope="prototype">
		<property name="yiZhuWeiZhiXingService" ref="yiZhuWeiZhiXingService"></property>
		<property name="shuYeZhiXingService" ref="shuYeZhiXingService"></property>
		<property name="twBryzzxService" ref="twBryzzxService"></property>
	</bean>
	
	<!-- 输液未执行 -->
	<bean id="shuYeZhiXingDao" class="com.his.mnis.dao.ShuYeZhiXingDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="shuYeZhiXingService" class="com.his.mnis.serviceImpl.ShuYeZhiXingServiceImpl">
		<property name="shuYeZhiXingDao" ref="shuYeZhiXingDao"></property>
		<property name="twWdbrService" ref="twWdbrService"></property>
		<property name="twBryzzxService" ref="twBryzzxService"></property>
	</bean>
	<bean id="shuYeZhiXingAction" class="com.his.mnis.actions.ShuYeZhiXingAction"  scope="prototype">
		<property name="shuYeZhiXingService" ref="shuYeZhiXingService"></property>
		<property name="twBryzzxService" ref="twBryzzxService"></property>
	</bean>
	
	<bean id="linZhuWeiZhiXingDao" class="com.his.mnis.dao.LinZhuWeiZhiXingDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="linZhuWeiZhiXingService" class="com.his.mnis.serviceImpl.LinZhuWeiZhiXingServiceImpl">
		<property name="linZhuWeiZhiXingDao" ref="linZhuWeiZhiXingDao"></property>
		<property name="twWdbrService" ref="twWdbrService"></property>
		<property name="vwBryzService" ref="vwBryzService"></property>
		<property name="twWdbrDao" ref="twWdbrDao"></property>
	</bean>
	<bean id="linZhuWeiZhiXingAction" class="com.his.mnis.actions.LinZhuWeiZhiXingAction"  scope="prototype">
		<property name="twBryzzxService" ref="twBryzzxService"></property>
		<property name="linZhuWeiZhiXingService" ref="linZhuWeiZhiXingService"></property>
	</bean>
	
	<bean id="twWdbrDao" class="com.his.mnis.dao.TwWdbrDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
		<property name="basedao" ref="basedao"></property>
	</bean>
	<bean id="twWdbrService" class="com.his.mnis.serviceImpl.TwWdbrServiceImpl">
		<property name="twWdbrDao" ref="twWdbrDao"></property>
	</bean>
	<bean id="twWdbrAction" class="com.his.mnis.actions.TwWdbrAction"  scope="prototype">
		<property name="twWdbrService" ref="twWdbrService"></property>
		<property name="vwRybqService" ref="vwRybqService"></property>
		<property name="vwBqbrZyService" ref="vwBqbrZyService"></property>
	</bean>
	
	<bean id="twTwdMessDao" class="com.his.mnis.dao.TwTwdMessDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="twTwdMessService" class="com.his.mnis.serviceImpl.TwTwdMessServiceImpl">
		<property name="twTwdMessDao" ref="twTwdMessDao"></property>
		<property name="baseDao" ref="basedao"></property>
	</bean>
	
	<bean id="twTwdMessAction" class="com.his.mnis.actions.TwTwdMessAction"  scope="prototype">
		<property name="twTwdMessService" ref="twTwdMessService"></property>
	</bean>
	
	<bean id="twTzdataTwDao" class="com.his.mnis.dao.TwTzdataTwDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="twTzdataTwService" class="com.his.mnis.serviceImpl.TwTzdataTwServiceImpl">
		<property name="twTzdataTwDao" ref="twTzdataTwDao"></property>
	</bean>
	
	<bean id="twTzdataTwAction" class="com.his.mnis.actions.TwTzdataTwAction"  scope="prototype">
		<property name="twTzdataTwService" ref="twTzdataTwService"></property>
		<property name="vwTzzdTwRcbzServiceImpl" ref="vwTzzdTwRcbzServiceImpl"></property>
		<property name="vwTzzdTwLxServiceImpl" ref="vwTzzdTwLxServiceImpl"></property>
		<property name="wseq_id" ref="wseq_id"></property>
	</bean>
	
	<bean id="twTzdataDao" class="com.his.mnis.dao.TwTzdataDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="twTzdataService" class="com.his.mnis.serviceImpl.TwTzdataServiceImpl">
		<property name="twTzdataDao" ref="twTzdataDao"></property>
	</bean>
	<bean id="twTzdataAction" class="com.his.mnis.actions.TwTzdataAction"  scope="prototype">
		<property name="twTzdataService" ref="twTzdataService"></property>
		<property name="twTzdataTwService" ref="twTzdataTwService"></property>
		<property name="wseq_id" ref="wseq_id"></property>
	</bean>
	<bean id="vwJc101Dao" class="com.his.mnis.dao.VwJc101Dao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="vwJc101Service" class="com.his.mnis.serviceImpl.VwJc101ServiceImpl">
		<property name="vwJc101Dao" ref="vwJc101Dao"></property>
	</bean>
	<bean id="vwJc101Action" class="com.his.mnis.actions.VwJc101Action"  scope="prototype">
		<property name="vwJc101Service" ref="vwJc101Service"></property>
	</bean>
	<bean id="vwHy101Dao" class="com.his.mnis.dao.VwHy101Dao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="vwHy1011Dao" class="com.his.mnis.dao.VwHy1011Dao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="vwHy101Service" class="com.his.mnis.serviceImpl.VwHy101ServiceImpl">
		<property name="vwHy101Dao" ref="vwHy101Dao"></property>
		<property name="vwHy1011Dao" ref="vwHy1011Dao"></property>
	</bean>
	<bean id="vwHy101Action" class="com.his.mnis.actions.VwHy101Action"  scope="prototype">
		<property name="vwHy101Service" ref="vwHy101Service"></property>
	</bean>
	<bean id="vwBqbrZyDao" class="com.his.mnis.dao.VwBqbrZyDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="vwBqbrZyService" class="com.his.mnis.serviceImpl.VwBqbrZyServiceImpl">
		<property name="vwBqbrZyDao" ref="vwBqbrZyDao"></property>
	</bean>
	<bean id="vwJbxxDao" class="com.his.mnis.dao.VwJbxxDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="vwJbxxService" class="com.his.mnis.serviceImpl.VwJbxxServiceImpl">
		<property name="vwJbxxDao" ref="vwJbxxDao"></property>
	</bean>
	<bean id="vwBqbrZyAction" class="com.his.mnis.actions.VwBqbrZyAction"  scope="prototype">
		<property name="vwBqbrZyService" ref="vwBqbrZyService"></property>
		<property name="vwJbxxService" ref="vwJbxxService"></property>
		<property name="vwRybqService" ref="vwRybqService"></property>
		<property name="vwBqyeZyService" ref="vwBqyeZyService"></property>
	</bean>
	<bean id="vwRybqDao" class="com.his.mnis.dao.VwRybqDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="ryBqDefaultDao" class="com.his.mnis.dao.RyBqDefaultDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="vwRybqService" class="com.his.mnis.serviceImpl.VwRybqServiceImpl">
		<property name="vwRybqDao" ref="vwRybqDao"></property>
		<property name="ryBqDefaultDao" ref="ryBqDefaultDao"></property>
		<property name="vwBqbrZyDao" ref="vwBqbrZyDao"></property>
	</bean>
	<bean id="vwRybqAction" class="com.his.mnis.actions.VwRybqAction"  scope="prototype">
		<property name="vwRybqService" ref="vwRybqService"></property>
	</bean>
	<bean id="twBryzzxDao" class="com.his.mnis.dao.TwBryzzxDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="twBryzzxService" class="com.his.mnis.serviceImpl.TwBryzzxServiceImpl">
		<property name="twBryzzxDao" ref="twBryzzxDao"></property>
		<property name="twBryzPeiYeDao" ref="twBryzPeiYeDao"></property>
	</bean>
	<bean id="twBryzzxAction" class="com.his.mnis.actions.TwBryzzxAction"  scope="prototype">
		<property name="twBryzzxService" ref="twBryzzxService"></property>
		<property name="yiZhuWeiZhiXingService" ref="yiZhuWeiZhiXingService"></property>
	</bean>
	<bean id="vwBryzDao" class="com.his.mnis.dao.VwBryzDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="vwBryzService" class="com.his.mnis.serviceImpl.VwBryzServiceImpl">
		<property name="vwBryzDao" ref="vwBryzDao"></property>
	</bean>
	<bean id="vwBryzAction" class="com.his.mnis.actions.VwBryzAction"  scope="prototype">
		<property name="vwBryzService" ref="vwBryzService"></property>
	</bean>
	
	<bean id="vwTzzdTwLxDao" class="com.his.mnis.dao.VwTzzdTwLxDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="vwTzzdTwLxServiceImpl" class="com.his.mnis.serviceImpl.VwTzzdTwLxServiceImpl">
		<property name="vwTzzdTwLxDao" ref="vwTzzdTwLxDao"></property>
	</bean>
	
	<bean id="vwTzzdTwRcbzDao" class="com.his.mnis.dao.VwTzzdTwRcbzDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="vwTzzdTwRcbzServiceImpl" class="com.his.mnis.serviceImpl.VwTzzdTwRcbzServiceImpl">
		<property name="vwTzzdTwRcbzDao" ref="vwTzzdTwRcbzDao"></property>
	</bean>
	
	<bean id="twTzzdDao" class="com.his.mnis.dao.TwTzzdDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="twTzzdService" class="com.his.mnis.serviceImpl.TwTzzdServiceImpl">
		<property name="twTzzdDao" ref="twTzzdDao"></property>
	</bean>
	
	<bean id="twTzzdAction" class="com.his.mnis.actions.TwTzzdAction"  scope="prototype">
		<property name="twTzzdService" ref="twTzzdService"></property>
		<property name="vwBqbrZyService" ref="vwBqbrZyService"></property>
		<property name="vwTzzdTwRcbzServiceImpl" ref="vwTzzdTwRcbzServiceImpl"></property>
		<property name="vwTzzdTwLxServiceImpl" ref="vwTzzdTwLxServiceImpl"></property>
		
	</bean>
	<!-- <bean id="vmBmryDao" class="com.his.mnis.dao.VmBmryDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="vmBmryService" class="com.his.mnis.services.VmBmryService">
		<property name="vmBmryDao" ref="vmBmryDao"></property>
	</bean>
	<bean id="vmBmryAction" class="com.his.mnis.actions.VmBmryAction"  scope="prototype">
		<property name="vmBmryService" ref="vmBmryService"></property>
	</bean> -->
	<!-- <bean id="vmBqbrDao" class="com.his.mnis.dao.VmBqbrDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="vmBqbrService" class="com.his.mnis.services.VmBqbrService">
		<property name="vmBqbrDao" ref="vmBqbrDao"></property>
	</bean>
	<bean id="vmBqbrAction" class="com.his.mnis.actions.VmBqbrAction"  scope="prototype">
		<property name="vmBqbrService" ref="vmBqbrService"></property>
	</bean> -->
</beans>